* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6em;
    font-family: "Sora", sans-serif;
}

:root {
    --primary-color: #10375c;
}
/* -----comon-------- */

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 60px;
    border: 1px solid #2e80ce;
    display: inline-block;
    color: #fff;
    background-color: #2e80ce;
    height: var(--height);
    min-width: 205px;
    line-height: var(--height);
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    padding: 0 20px;
    border-radius: 30px;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

/* -------header--------- */
.header {
    padding-top: 30px;
    min-height: 100vh;
    background-color: var(--primary-color);
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-weight: 400;
    font-size: 1.8em;
}

.logo__brand--small {
    font-weight: 300;
    font-size: 1.2em;
}
/* ----Header-top-------- */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    position: relative;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-weight: 300;
    font-size: 1.6rem;
    color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
    font-weight: 400;
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: absolute;
    top: 5px;
    left: 6px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
.header-action {
    display: flex;
    align-items: center;
}

.header-action__sign-up {
    margin-left: 7px;
    --height: 44px;
    min-width: 104px;
    border-radius: 22px;
}

/* ------------Hero---------- */

.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    margin-top: 60px;
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__contact {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
}

.hero__media {
    width: 46%;
}

.hero__images {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
}

.hero__img:nth-child(2) {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
    object-fit: cover;
    margin-left: -6px;
}

/* ---------service---------- */
.service {
    padding: 170px 0;
}

.service__heading,
.section-desc {
    text-align: center;
}

.section-desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service-item {
    display: flex;
    padding: 22px;
    width: 470px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background: #2e80ce;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    color: #10375c;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}

.service__btn {
    margin-top: 55px;
}
